name = "cloudflare-r2-directory-listing-worker"
workers_dev = true
main = "build/worker/shim.mjs"
compatibility_date = "2023-08-15"

r2_buckets  = [
  { binding = "BUCKET", bucket_name = "cloudflare-r2-listing-test-bucket"}
]
